<div
  *ngIf="story"
  class="story-reader"
>

  <div class="story-reader--header">
    <h1
      *ngIf="story.title"
      class="header--title"
    >
      {{story.title}}
    </h1>

    <div
      *ngIf="story.authorId"
      class="header--author-box"
    >
      <span class="author-box--by">By</span>
      <span class="author-box--author-name">{{story.authorId}}</span>
    </div>
  </div>

  <div>
    <div
      *ngFor="
        let block of _storyService.getCourse();
        let id = index;
        let isLast = last
      "
    >
      <app-text-block
        *ngIf="_storyService.isTextBlock(block)"
        [block]="block"
        [index]="id"
      ></app-text-block>
      <app-choice-block
        *ngIf="_storyService.isChoiceBlock(block)"
        [block]="block"
        [index]="id"
        [isLast]="isLast"
      ></app-choice-block>
      <app-ending-block
        *ngIf="_storyService.isEndingBlock(block)"
      ></app-ending-block>
    </div>
  </div>

</div>
