<div
  *ngIf="block"

  class="choice-block"
  fxFlex="100"
  fxLayout="column"
  fxLayoutAlign="center"
>

  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center"
  >
    <div
      fxFlex.lt-md="100"
      fxFlex="50"

      *ngFor="let choice of block.choices; let choiceId = index"
    >
      <app-choice-button
        [selected]="_selectedId === choiceId"
        (click)="_makeChoiceWithConfirmation(choiceId)"
      >
        {{choice.name}}
      </app-choice-button>
    </div>
  </div>

</div>
