<div *ngIf="story">

  <div>
    <div *ngFor="let block of _storyService.getCourse(); let id = index">
      <app-text-block
        *ngIf="_storyService.isTextBlock(block)"
        [block]="block"
        [index]="id"
      ></app-text-block>
      <app-choice-block
        *ngIf="_storyService.isChoiceBlock(block)"
        [block]="block"
        [index]="id"
      ></app-choice-block>
      <app-ending-block
        *ngIf="_storyService.isEndingBlock(block)"
      ></app-ending-block>
    </div>
  </div>

</div>
